<!--<form [formGroup]="appointmentForm" (ngSubmit)="bookAppointment()">
    <div>
      <label for="selectedService">Select Service:</label>
      <select id="selectedService" formControlName="selectedService">
        <option *ngFor="let service of salonServices" [value]="service.name">{{ service.name }}</option>
      </select>
    </div>

    <div>
      <label for="selectedSlot">Select Time Slot:</label>
      
      <select id="selectedSlot" formControlName="selectedSlot">
        <option value="morning">Morning</option>
        <option value="afternoon">Afternoon</option>
        <option value="evening">Evening</option>
      </select>
    </div>

    <button type="submit" [disabled]="!appointmentForm.valid">Book Appointment</button>
  </form>-->

