<div class="container">
    <div class="my-5">
        
    <div class="row">
        
            <div class="col-md-4">
                <div class="px-3 d-flex justify-content-center">
                    <img class="profile-image rounded-circle" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"/>
                </div>
            </div>
            <div class="col-md-6 d-md-block d-flex justify-content-center">
                
        <div class="px-3 py-2 text-center text-md-start">
            <div class="heading">John Nicolas</div>
            <div>Making Happy to my Clients in my work.</div>
        </div>
            </div>

    </div>

    </div>
    <div class="py-4">
        <div class="heading">Booking</div>
    </div>
    <div class="p-4 bg-gray rounded-4">
       
        <div class="py-2 fw-bold">
            January 2024
        </div>
       <div class="py-2 fw-semibold">Date</div>
        <!-- <div class="py-5">
            <div *ngFor="let timeSlot of timeSlots">
                {{timeSlot.date | date:'dd'}}
                {{timeSlot.date | date:'EEE'}}
            </div>
        </div> -->
        <!-- hello commit here -->
        <div class="py-2">
            <div class="overflow-auto">
            <div class="d-flex">
                
            <div class="m-2 p-2 slot slot-date rounded-3 text-center">
                <div>30</div>
                <div>TUE</div>
            </div>
            <div class="m-2 p-2 slot slot-date rounded-3 text-center">
                <div>31</div>
                <div>WED</div>
            </div>
            <div class="m-2 p-2 slot slot-date rounded-3 text-center">
                <div>1</div>
                <div>THU</div>
            </div>
            <div class="m-2 p-2 slot slot-date rounded-3 text-center">
                <div>2</div>
                <div>FRI</div>
            </div>
            <div class="m-2 p-2 slot slot-date rounded-3 text-center">
                <div>3</div>
                <div>SAT</div>
            </div>

            </div>
        </div>
    </div>

       <div class="py-2 fw-semibold">Time</div>
       <!-- <div *ngFor="let timeSlot of timeSlots">
           <div *ngFor="let slot of timeSlot.slot">
            {{slot}}
           </div>
        </div> -->
        <div class="py-2">
            <div class="overflow-auto">
            <div class="d-flex">
                
            <div class="m-2 p-2 slot slot-time rounded-3 text-center">
                11:30    
            </div>
            <div class="m-2 p-2 slot slot-time rounded-3 text-center">
                12:00    
            </div>
            <div class="m-2 p-2 slot slot-time rounded-3 text-center">
                12:30    
            </div>
            <div class="m-2 p-2 slot slot-time rounded-3 text-center">
                01:00    
            </div>
            
            </div>
        </div>
    </div>



    </div>
</div>

<div class="fixed-bottom">
    <div class="px-3 py-4">
    <div class="d-grid gap-2">
        <button disabled class="py-2 btn btn-sm button rounded-pill" type="button">Book Now</button>
    </div>
    </div>
</div>